h1{
	color: black;
}

button{
	float: right;
	margin-right: 300px;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

h1{
  color: black;
  padding: 0px 0px 0px 20px;
}

button{
  float: right;
  margin-right: 300px;
}

#navbar{
  float: left;
  width: 180px;
  height: 100%;
  clear: both;
}

#d3{
  float: left;
}

text {
  font: 2px;
}

#logo{

  float: left;

}


#date{
  height: 10px;
  width: 160px;
  font-size: 42px;
  padding: 0px 0px 0px 20px;
}

#description{
  font-family: Helvetica;
}

#together{
  float:right;
  padding: 0 80px 0 0;
}

#logodiv{
  width: 100%;
  height: 100px;
}

table, th, td{
  text-align: center;
}


.table-responsive {
  border: 3px solid red;
}





#playerstats{
  
  color: black;
  font-family: 'Fjalla One';
  text-align: center; 
}



#playerinfo{
  font-size: 40px;
  color: #D4151F;
  text-align: center;
  font-family: 'Fjalla One';
  text-shadow: -1px 0 #1F64BF, 0 1px black, 1px 0 black, 0 -1px black;
}

#bio{
  font-family: 'Fjalla One';
  text-align: center;
  font-size: 20px;
  color: black; 
}

#avgstats{
  font-size: 20px;
  color: #1F64BF;
  font-family: 'Fjalla One';
  text-align: center;
  text-shadow: -1px 0 white, 0 1px black, 1px 0 black, 0 -1px black;
}

#photo{
  width: 310px;
  height: 220px;
  margin-left: 445px;


}

#teamlogo{
  width: 70px;
  height: 70px;
  margin-left: 590px

}

#playerheading{
      font-size: 17px;
      color: white;
      font-family: 'Fjalla One';
      text-shadow: -1px 0 red, 0 1px black, 1px 0 black, 0 -1px black;
      text-decoration: underline;
    }

#playerheadingnews{
      font-size: 17px;
      color: #1F64BF;
      font-family: 'Fjalla One';
      
      text-decoration: underline;
    }



#news {
      font-size: 18px;
      color: black;
      font-family: 'Fjalla One';
      text-decoration: underline;
   

      
}


.NUP {
    padding: 11px;
    font-size: 30px;
    color: #D4151F;
    font-family: 'Fjalla One';
    text-align: center;
    text-decoration: underline;
    text-shadow: -1px 0 #1F64BF, 0 1px black, 1px 0 black, 0 -1px black;
}

.NUP:hover {
  color:#1F64BF;
}

.playerstatshead {
  background-color: #1F64BF;
  color: white;
  font-size: 15px;
  font-family: 'Fjalla One';
  text-shadow: -1px 0 red, 0 1px black, 1px 0 black, 0 -1px black;
}

.playerstatsbody {
  font-family: 'Fjalla One';
  background-color: white;


}


#blah {
  width: 50px;
  height: 230px;
  border: 4px solid black;
  margin-left: 450px
}

