<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<style type="text/css">

body{
	background-image: url(http://jackrogerswoodturner.com/wp-content/uploads/2013/11/best-black-hardwood-flooring.jpg);
}

h1{
	color: white;
	margin: auto;
}

</style>

<h1>StatCity</h1>

</body>
</html>


