<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>



	<% require 'nokogiri' %>
	<% require 'open-uri' %>
	
	<% url = "http://insider.espn.go.com/nba/hollinger/statistics/_/sort/usageRate" %>
	<% doc = Nokogiri::HTML(open(url)) %>

	
	<% usageodd = [] %>
	<% usageeven = [] %>
	
	<% doc.css(".oddrow").each do |a| %>
	<% a.css("td").each do |b| %>
	<% usageodd.push(b.text) %>
	
	<% end %>
	<% end %>

	<% doc.css(".evenrow").each do |a| %>
	<% a.css("td").each do |b| %>
	<% usageeven.push(b.text) %>
	
	<% end %>
	<% end %>

	<% usageodd = usageodd.each_slice(14).to_a %>

	<% usageeven = usageeven.each_slice(14).to_a %>


<div class = "animated fadeInUp">
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			
			<tr class="playerstatshead">
			<th>Rank</th>
			<th>Player</th>
			<th>GP</th>
			<th>MPG</th>
			<th>TS%</th>
			<th>AST</th>
			<th>TO</th>
			<th>USG</th>
			<th>ORR</th>
			<th>DRR</th>
			<th>REBR</th>
			<th>PER</th>
			<th>VA</th>
			<th>EWA</th>
		</tr>
		
			
		</thead>
		<tbody class="playerstatsbody">
<tr>
	<% usageodd.each do |i| %>
	<% i.each do |b| %>
	<td><%= b %></td>

	<% end %>
	
	
</tr>
	<% end %>
<tr>
	<% usageeven.each do |i| %>
	<% i.each do |b| %>
	<td><%= b %></td>

	<% end %>
	
</tr>
	<% end %>
	
</tbody>
</table>
</div>
</div>
</body>
</html>