<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<!-- using the mechanize gem to scrape a page, click the next button to get data from the next page up to page 9, and displaying the heading and text -->

	<% require 'nokogiri' %>
	<% require 'open-uri' %>
	<% require 'mechanize' %>
	<% agent = Mechanize.new %>
	<% agent.get("http://fleaflicker.com/nba/news") %>


	<% pageno = 1 %>
	<% while pageno < 10 %>
	<% pageno += 1 %>
	<% pagina = agent.page%>
	<%notes = pagina.search(".list-group-item")%>
	<%notes.each do |lg| %>

	<div class = "animated bounceInLeft">
	<div id ="playerheadingnews"><%=lg.at(".list-group-item-heading").text %></div>
	</div>
	<blockquote>
	<div id="news">
	<div class = "animated bounceInRight">
	<div><%=lg.at(".list-group-item-text").text%></div>
</div>
</blockquote> 
</div>
<br>
	<%end%>

	<% agent.page.link_with(:text => 'Next »').click %>
	
	<%end%>




	
</body>
</html>