<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<% require 'nokogiri' %>
	<% require 'open-uri' %>
	
	<% url = "http://fleaflicker.com/nba/news" %>
	<% doc = Nokogiri::HTML(open(url)) %>


	<% doc.css(".list-group-item").each do |lg| %>
	<div class = "animated bounceInLeft">
	<div id="playerheading"><%= lg.at_css(".list-group-item-heading").text %></div>
	</div>
	<blockquote>
	<div id="news">
		<div class = "animated bounceInRight">
		<%= lg.at_css(".list-group-item-text").text %></div>
	</div>
	</blockquote>
	<%end%>

	

<!-- x -->
<!-- 	<div id="bio">
	<%= doc.css(".bio").text %>
	</div>
	<div id="avgstats">
	<%= doc.css(".stats li").text %>
	</div> 
 -->
</body>
</html>