<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<% require 'nokogiri' %>
	<% require 'open-uri' %>
	
	<% url = "http://fleaflicker.com/nba/news" %>
	<% doc = Nokogiri::HTML(open(url)) %>

<div class="table-responsive">
	<% doc.css(".list-group-item").each do |lg| %>
	<div id="playerheading"><%= lg.at_css(".list-group-item-heading").text %></div>
	<blockquote>
	<div id="news"><%= lg.at_css(".list-group-item-text").text %></div>
	</blockquote>
	<%end%>
</div
	

<!-- x -->
<!-- 	<div id="bio">
	<%= doc.css(".bio").text %>
	</div>
	<div id="avgstats">
	<%= doc.css(".stats li").text %>
	</div> 
 -->
</body>
</html>