<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<style type="text/css">
		#playerheading{
			font-size: 20px;
			color: green;
			font-family: Verdana;
		}
	</style>

	<% require 'nokogiri' %>
	<% require 'open-uri' %>
	
	<% url = "http://fleaflicker.com/nba/news" %>
	<% doc = Nokogiri::HTML(open(url)) %>


	<% doc.css(".list-group-item").each do |lg| %>
	<div id="playerheading"><%= lg.at_css(".list-group-item-heading").text %></div>
	<div><%= lg.at_css(".list-group-item-text").text %></div>
	<%end%>

	

<!-- x -->
	<!-- <div id="bio">
	<%= doc.css(".bio").text %>
	</div>
	<div id="avgstats">
	<%= doc.css(".stats li").text %>
	</div> 
 -->
</body>
</html>